<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<!--  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://116.193.67.42:3306/enpickdev?useUnicode=true&amp;autoReconnect=true&amp;characterEncoding=utf8"/>
		<property name="username" value="admin" />
		<property name="password" value="mysql!vn!2013" />

	</bean>-->
	 <bean id="dsURI" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://116.193.67.42:3306/enpickdev?useUnicode=true&amp;autoReconnect=true&amp;characterEncoding=utf8&amp;noAccessToProcedureBodies=true"/>

		<property name="username" value="admin" />
		<property name="password" value="mysql!vn!2013"/>
		<!--<property name="password" value="admin!enpick!2013" />-->
		 
		<!--<property name="username" value="enpick" />
		<property name="password" value="enpick2014"/> -->
		
		</bean>
	<!-- the one I want to use now -->


<!-- the one I used before as a workaround
  
<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   <property name="driverClassName" value="org.postgresql.Driver"/>
   <property name="url" value="jdbc:postgresql:postgres"/>
   <property name="username" value="magicUserName"/>
   <property name="password" value="magicPassword"/>
</bean>  -->

<bean id="pool" class="org.apache.commons.pool.impl.GenericObjectPool">
   <property name="minEvictableIdleTimeMillis"><value>300000</value> </property>
   <property name="timeBetweenEvictionRunsMillis"><value>60000</value></property>
   <property name="maxActive"><value>100</value></property>
   <property name="maxIdle"><value>50</value> </property>
   <property name="minIdle"><value>10</value></property>
  
            
</bean>

<bean id="dsConnectionFactory" class="org.apache.commons.dbcp.DataSourceConnectionFactory">
   <constructor-arg><ref bean="dsURI"/></constructor-arg>
   
</bean>

<bean id="poolableConnectionFactory" class="org.apache.commons.dbcp.PoolableConnectionFactory">
    <constructor-arg index="0"><ref bean="dsConnectionFactory"/> </constructor-arg>
    <constructor-arg index="1"><ref bean="pool"/></constructor-arg>
    <constructor-arg index="2"><null/></constructor-arg>
    <constructor-arg index="3"><null/></constructor-arg>
    <constructor-arg index="4"><value>false</value></constructor-arg>
    <constructor-arg index="5"><value>true</value></constructor-arg>
   
</bean>
  <bean id="dataSource" class="org.apache.commons.dbcp.PoolingDataSource" depends-on="poolableConnectionFactory">
     <constructor-arg><ref bean="pool"/></constructor-arg>
    
  </bean>

</beans>

